workflow-n8n-corrigido.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8e5f5706-9a0a-4e2f-bbc1-de2acd8c90b8",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://n8n-evolution-api.6wqa93.easypanel.host/group/fetchAllGroups/natacaocriativa",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "getParticipants",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9D706DFFC5CE-4DE3-A4C0-AE5ADE7783F2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "e4214e55-e0b6-47ff-a995-c5da60f9fe3c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15UpsulU7p9fY2HRUyaFvpfVQzbREICVZWyquCUFBTKQ/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15UpsulU7p9fY2HRUyaFvpfVQzbREICVZWyquCUFBTKQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "grupo_id": "={{ $json.id }}",
            "grupo_nome": "={{ $json.subject }}",
            "participantes": "={{ $json.size }}",
            "descricao": "={{ $json.desc }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "grupo_id",
              "displayName": "grupo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grupo_nome",
              "displayName": "grupo_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "participantes",
              "displayName": "participantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "73087d5d-0282-4f19-83c9-25c3a760053b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WhDE2Ti6pk7EDX1w",
          "name": "curtatche"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b19efb901dfb4af79d7f8257f1ef21bf4515701ba90c949dec380b4023707b8"
  }
}
